.main{
    background: grey;
    padding: 20px;
}
div{
    border: 2px solid orange;
    font-size: 1.5em;
}
div:nth-child(3){
    background-color: blue;
    color: white;
    width: 80%;
    font-size: 1.5em;
    position: relative;
}